body {
    font-size: 16px;
    font-family: 'Playfair Display', Serif;
}
header {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    color:cyan;
    background-color: rebeccapurple;
    display: flex;
    align-items: bottom;
    justify-content: space-between;
    

}
h1 {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 200%;
    margin: 2%;
    padding: 2%;
    align-items: center;
}

nav {
  width: 300px;
  padding:10px;
  margin: auto;
}


nav a {
    width:200px;
    padding:10px;
    border: 2px solid black;
    display: none;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color:#000;
    margin:10px;
  }
  
  nav:hover a {
    display: block;
  background-color: aquamarine;
  color:blue


  }