body {
    font-size: 16px;
    font-family: 'Playfair Display', Serif;
}

header {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    color:burlywood;
    background-color: rgb(130, 40, 15);
    display: flex;   
    justify-content: space-between;
    margin-top: 0;

    
}

h1 {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 200%;
    margin: 2%;
    padding: 2%;
    align-items: center;
}

nav {
  width: 20%;
  padding:10px;
  font-size: 150%;
  z-index: 1;
  justify-self: right;
  align-self: center;

}



/* Dropdown Button */
.dropbtn {
  background-color:inherit;
  color:inherit;
  padding: 16px;
  font-size: 150%;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: burlywood;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: pink;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: rgb(110, 62, 22);}